---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Soporte técnico en la empresa',
        description: 'Encargado del soporte técnico y mantenimiento de redes, asegurando el funcionamiento óptimo de la infraestructura tecnológica de la empresa.',
        link: 'https://empresasnoffra.com/',
    },
    {
        date: '2022',
        title: 'UE Colegio Ángel',
        description: 'Como parte del equipo del departamento de Sistemas en el apoyo de la plataforma Web educativa y atención en los equipos del plantel.',
        link: 'https://cea.edu.ve/',
    }
]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience=>(
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience}/>
        </li>
        ))
    }                  
</ol>

