---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Banco Bancrecer',
        description: 'Gestión y recuperación de cartera crediticia, garantizando el cumplimiento de pagos según plazos establecidos. Monitoreo y seguimiento de cuotas en mora, implementando estrategias para reducir la morosidad.Coordinación con clientes para reestructuración de deudas y acuerdos de pago.   Análisis de riesgo crediticio y reportes periódicos sobre el estado de la cartera.',
        link: 'https://www.bancrecer.com.ve/',
    },
    {
        date: '2024 - 2025',
        title: 'Noffra 2000 C.A',
        description: 'Encargado del soporte técnico y mantenimiento de redes, asegurando el funcionamiento óptimo de la infraestructura tecnológica de la empresa.',
        link: 'https://empresasnoffra.com/',
    },
    {
        date: '2022',
        title: 'UE Colegio El Ángel',
        description: 'Como parte del equipo del departamento de Sistemas en el apoyo de la plataforma Web educativa y atención en los equipos del plantel.',
        link: 'https://cea.edu.ve/',
    }
]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience=>(
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience}/>
        </li>
        ))
    }                  
</ol>

